<app-header [title]='title'></app-header>
<div class='landing' >
    <div id='spinner' [hidden]='spinnerHidden'>
        <mat-progress-spinner
          class="example-margin"
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
    </div>
  <div id='landP'>
  <div class="jumbotron contactDiv" style="padding-top: 12px;">
    <h1 class="display-4">Contact Us</h1>
    <hr class="my-4">
    <p>If you have questions, concerns, or requests, please feel free to contact us! <br>
      We will answer all e-mail messages as soon as we can!
    </p>
  </div>
  <br>
  <div class="jumbotron contactDiv">

          <!-- <input id="name" type="text" placeholder="Name" class='inputs'>
          <br><br>
          <input id="email" type="email" placeholder="Email" class='inputs'>
          <br><br>
          <input id="subject" type="text" placeholder="Subject" class='inputs'>
          <br><br>
          <div style="width: 80%; margin: auto;">
          <textarea id="message" placeholder="Message..."  rows="10" style="width: 100%;"></textarea>
          <br>
          <button (click)='email()' style="float:right;">Email</button>
          </div> -->

          <div class="container">
            <form (ngSubmit)='onSubmit()' id='myForm'>
              <div class='row'>
                <div class="col">
                  <div class="row">
                      <div class='col'>
                          <mat-form-field style="width:200px;">
                              <input id='firstName' matInput placeholder="Enter your First Name" [formControl]="fname" name='first' required>
                              <mat-error *ngIf="fname.invalid">{{getErrorMessage(1)}}</mat-error>
                            </mat-form-field>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col">
                        <mat-form-field style="width:200px;">
                            <input id='lastName' matInput placeholder="Enter your Last Name" [formControl]="lname" name='last' required>
                            <mat-error *ngIf="lname.invalid">{{getErrorMessage(2)}}</mat-error>
                          </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <mat-form-field style="width:200px;">
                              <input id='emailAddr' matInput placeholder="Enter your email" [formControl]="email" name='mail' required>
                              <mat-error *ngIf="email.invalid">{{getErrorMessage(3)}}</mat-error>
                            </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                        <div class='col'>
                            <mat-form-field style="width:200px;">
                                <mat-select id='catSelect' placeholder="Contact Reason" [formControl]="cReason" [(ngModel)]='selectedValue' name='cat' required>
                                  <mat-option *ngFor="let r of reasons" [value]="r.value">
                                    {{r.r}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="cReason.invalid">{{getErrorMessage(4)}}</mat-error>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <mat-form-field style="width:500px;">
                        <mat-label>Message</mat-label>
                        <textarea id='messageArea'
                                  name='msg'
                                  matInput
                                  cdkTextareaAutosize
                                  cdkAutosizeMinRows="12"
                                  cdkAutosizeMaxRows="12"
                                  style="background-color: white;"></textarea>
                      </mat-form-field>
                </div>
              </div>
              <div>
                <button id="cSubmit" [disabled]='cReason.invalid || email.invalid || lname.invalid || fname.invalid' type="submit" mat-raised-button>Submit</button>
              </div>
          </form>
          </div>
  </div>
</div>
</div>

