<app-header [title]='title'></app-header>
<div class='landing'>
  <div class="jumbotron contactDiv" style="padding-top: 12px;">
    <h1 class="display-4">Contact Us</h1>
    <hr class="my-4">
    <p>If you have questions, concerns, or requests, please feel free to contact us! <br>
      We will answer all e-mail messages as soon as we can!
    </p>
  </div>
  <br>
  <div class="jumbotron contactDiv">

          <!-- <input id="name" type="text" placeholder="Name" class='inputs'>
          <br><br>
          <input id="email" type="email" placeholder="Email" class='inputs'>
          <br><br>
          <input id="subject" type="text" placeholder="Subject" class='inputs'>
          <br><br>
          <div style="width: 80%; margin: auto;">
          <textarea id="message" placeholder="Message..."  rows="10" style="width: 100%;"></textarea>
          <br>
          <button (click)='email()' style="float:right;">Email</button>
          </div> -->

          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Joe Smith">
          </mat-form-field>
  </div>
</div>
